In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("economic-indicators.csv")
df.head()

,Year,Poverty rate,Unemployment rate,Underemployment rate,Consumer Price Index (CPI) inflation rate
0,2019.0,40.1,23.1,20.1,11.98
1,2020.0,42.5,27.1,28.6,15.75
2,2021.0,44.5,33.3,22.8,17.75
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[0:3] 
df

,Year,Poverty rate,Unemployment rate,Underemployment rate,Consumer Price Index (CPI) inflation rate
0,2019.0,40.1,23.1,20.1,11.98
1,2020.0,42.5,27.1,28.6,15.75
2,2021.0,44.5,33.3,22.8,17.75