In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv("prices - prices.csv")
df.head()

,Date,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),...,"Rice local (ofada), sold loose",Rice Medium Grained,"Rice (imported high quality), sold loose",Sweet potato,Tilapia fish (epiya) fresh,Titus (frozen),Tomato,Vegetable oil:1 bottle,Wheat flour: prepacked (golden penny 2kg),Yam tuber
0,31/01/2017,512.99,47.42,353.60,305.53,"1,001.24","1,249.48",302.87,270.25,377.41,...,286.19,312.08,402.01,129.43,792.18,884.82,247.55,495.29,626.53,210.58
1,28/02/2017,520.16,42.90,337.11,309.85,995.65,"1,270.67",299.75,264.86,392.04,...,306.29,352.69,410.58,127.23,795.27,942.23,236.62,507.36,621.39,215.55
2,31/03/2017,507.69,43.93,353.28,318.45,"1,010.29","1,281.71",297.51,262.33,421.54,...,308.87,377.99,418.71,132.94,798.07,964.63,268.64,513.42,623.10,255.86
3,30/04/2017,518.66,46.22,357.19,324.04,"1,035.45","1,323.10",296.63,277.69,425.53,...,299.30,332.81,388.46,132.43,800.77,935.00,285.72,525.72,627.33,250.30
4,31/05/2017,522.71,45.73,365.86,332.28,"1,123.65","1,378.91",307.70,282.26,460.10,...,323.82,350.36,410.55,130.28,805.21,969.64,339.72,524.77,646.18,279.15

In [27]:
#df["Date"] = pd.to_datetime(df["Date"])

In [25]:
df.set_index("Date")

,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),Catfish (dried),...,"Rice local (ofada), sold loose",Rice Medium Grained,"Rice (imported high quality), sold loose",Sweet potato,Tilapia fish (epiya) fresh,Titus (frozen),Tomato,Vegetable oil:1 bottle,Wheat flour: prepacked (golden penny 2kg),Yam tuber
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-31,512.99,47.42,353.60,305.53,"1,001.24","1,249.48",302.87,270.25,377.41,"2,204.12",...,286.19,312.08,402.01,129.43,792.18,884.82,247.55,495.29,626.53,210.58
2017-02-28,520.16,42.90,337.11,309.85,995.65,"1,270.67",299.75,264.86,392.04,"2,150.18",...,306.29,352.69,410.58,127.23,795.27,942.23,236.62,507.36,621.39,215.55
2017-03-31,507.69,43.93,353.28,318.45,"1,010.29","1,281.71",297.51,262.33,421.54,"2,189.55",...,308.87,377.99,418.71,132.94,798.07,964.63,268.64,513.42,623.10,255.86
2017-04-30,518.66,46.22,357.19,324.04,"1,035.45","1,323.10",296.63,277.69,425.53,"2,189.10",...,299.30,332.81,388.46,132.43,800.77,935.00,285.72,525.72,627.33,250.30
2017-05-31,522.71,45.73,365.86,332.28,"1,123.65","1,378.91",307.70,282.26,460.10,"2,213.66",...,323.82,350.36,410.55,130.28,805.21,969.64,339.72,524.77,646.18,279.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-28,654.90,59.82,509.65,497.54,"1,440.70","1,919.52",438.03,400.83,496.57,"2,050.31",...,436.58,487.43,594.80,227.23,"1,144.68","1,498.81",393.08,950.46,"1,021.66",339.76
2022-03-31,668.96,61.58,530.10,505.94,"1,496.47","1,955.90",447.80,411.73,505.01,"2,090.01",...,441.80,488.58,607.68,228.05,"1,161.34","1,526.95",409.96,970.29,"1,041.82",353.56
2022-04-30,678.91,64.00,530.62,519.05,"1,508.08","2,026.85",450.51,412.25,513.50,"2,117.29",...,440.26,494.88,612.25,227.74,"1,176.90","1,554.35",426.54,981.16,"1,047.74",361.20
2022-05-31,689.61,65.65,536.91,524.70,"1,522.75","2,029.59",456.79,421.64,515.04,"2,221.63",...,447.51,496.98,619.64,234.69,"1,182.76","1,571.75",423.48,996.25,"1,060.26",372.23
2022-06-30,704.19,68.56,551.40,536.17,"1,570.79","2,079.93",472.47,434.50,527.73,"2,156.64",...,488.68,511.94,636.20,247.91,"1,189.43","1,604.47",438.33,"1,018.26","1,087.09",384.48

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 44 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Date                                       66 non-null     datetime64[ns]
 1   Agric eggs medium size                     66 non-null     float64
 2   Agric eggs(medium size price of one)       66 non-null     float64
 3   Beans brown,sold loose                     66 non-null     float64
 4   Beans:white black eye. sold loose          66 non-null     float64
 5   Beef Bone in                               66 non-null     object
 6   Beef,boneless                              66 non-null     object
 7   Bread sliced 500g                          66 non-null     float64
 8   Bread unsliced 500g                        66 non-null     float64
 9   Broken Rice (Ofada)                        66 non-null     float64
 10  Catfish (dried)                            66 non-null     object
 11  Catfish (obokun) fresh                     66 non-null     object
 12  Catfish (Smoked)                           66 non-null     object
 13  Chicken Feet                               66 non-null     object
 14  Chicken Wings                              66 non-null     object
 15  Dried Fish Sardine                         66 non-null     object
 16  Evaporated tinned milk carnation 170g      66 non-null     float64
 17  Evaporated tinned milk(peak) 170g          66 non-null     float64
 18  Frozen chicken                             66 non-null     object
 19  Gaari white, sold loose                    66 non-null     float64
 20  Gaari yellow, sold loose                   66 non-null     float64
 21  Groundnut oil, 1 bottle                    66 non-null     object
 22  Iced Sardine                               66 non-null     object
 23  Irish potato                               66 non-null     float64
 24  Mackerel : frozen                          66 non-null     object
 25  Maize grain white,  sold loose             66 non-null     float64
 26  Maize grain yellow, sold loose             66 non-null     float64
 27  Mudfish (aro) fresh                        66 non-null     object
 28  Mudfish (dried)                            66 non-null     object
 29  Onion bulb                                 66 non-null     float64
 30  Palm oil: 1 bottle                         66 non-null     float64
 31  Plantain (ripe)                            66 non-null     float64
 32  Plantain (unripe)                          66 non-null     float64
 33  Rice agric, sold loose                     66 non-null     float64
 34  Rice local (ofada), sold loose             66 non-null     float64
 35  Rice Medium Grained                        66 non-null     float64
 36  Rice (imported high quality),  sold loose  66 non-null     float64
 37  Sweet potato                               66 non-null     float64
 38  Tilapia fish (epiya) fresh                 66 non-null     object
 39  Titus (frozen)                             66 non-null     object
 40  Tomato                                     66 non-null     float64
 41  Vegetable oil:1 bottle                     66 non-null     object
 42  Wheat flour: prepacked (golden penny 2kg)  66 non-null     object
 43  Yam tuber                                  66 non-null     float64
dtypes: datetime64[ns](1), float64(25), object(18)
memory usage: 22.8+ KB

In [6]:
df.to_csv("clean_food_prices.csv")

In [10]:
data = pd.read_csv("clean_food_prices.csv")
data.drop(columns=['Unnamed: 0'], inplace=True)
data.head()

,Item Labels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21
0,Agric eggs medium size,512.99,520.16,507.69,518.66,522.71,514.66,498.50,485.19,487.51,...,518.30,524.47,530.40,541.53,556.47,577.55,585.64,604.99,614.89,629.82
1,Agric eggs(medium size price of one),47.42,42.90,43.93,46.22,45.73,45.28,44.32,42.92,45.72,...,47.35,48.43,49.14,49.99,51.22,52.73,53.20,54.62,55.49,57.35
2,"Beans brown,sold loose",353.60,337.11,353.28,357.19,365.86,374.26,382.35,370.25,404.84,...,351.68,368.98,378.82,439.22,471.24,485.44,496.03,492.13,478.76,490.19
3,Beans:white black eye. sold loose,305.53,309.85,318.45,324.04,332.28,339.64,343.96,335.71,358.13,...,331.48,346.38,359.64,407.23,431.79,444.21,457.98,461.59,464.74,476.76
4,Beef Bone in,1001.24,995.65,1010.29,1035.45,1123.65,1129.02,1128.94,1151.38,1078.49,...,1113.39,1130.80,1145.32,1173.05,1220.33,1262.10,1274.20,1320.73,1339.77,1366.24

In [17]:
d = data.T
d.to_csv("clean_food_prices.csv")
d.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Item Labels,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),Catfish (obokun) fresh,...,"Rice,imported high quality sold loose",Sweet potato,Tilapia fish (epiya) fresh,Titus:frozen,Tomato,"Vegetable oil:1 bottle,specify bottle",Wheat flour: prepacked (golden penny 2kg),Yam tuber,NaN,Source: The Nigeria Bureau of Statistics
Jan-17,512.99,47.42,353.6,305.53,1001.24,1249.48,302.87,270.25,377.41,899.58,...,402.01,129.43,792.18,884.82,247.55,495.29,626.53,210.58,NaN,NaN
Feb-17,520.16,42.9,337.11,309.85,995.65,1270.67,299.75,264.86,392.04,885.13,...,410.58,127.23,795.27,942.23,236.62,507.36,621.39,215.55,NaN,NaN
Mar-17,507.69,43.93,353.28,318.45,1010.29,1281.71,297.51,262.33,421.54,884.15,...,418.71,132.94,798.07,964.63,268.64,513.42,623.1,255.86,NaN,NaN
Apr-17,518.66,46.22,357.19,324.04,1035.45,1323.1,296.63,277.69,425.53,886.65,...,388.46,132.43,800.77,935.0,285.72,525.72,627.33,250.3,NaN,NaN

In [22]:
#pd.to_datetime(d[0])
d[0].head()

Item Labels    Agric eggs medium size
Jan-17                         512.99
Feb-17                         520.16
Mar-17                         507.69
Apr-17                         518.66
Name: 0, dtype: object

In [14]:
food = data.T
#food.reset_index()
food.rename(columns={"Food Item": "Date"}, inplace=True)
food.reset_index()
#food.reset_index()
food.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Item Labels,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),Catfish (obokun) fresh,...,"Rice,imported high quality sold loose",Sweet potato,Tilapia fish (epiya) fresh,Titus:frozen,Tomato,"Vegetable oil:1 bottle,specify bottle",Wheat flour: prepacked (golden penny 2kg),Yam tuber,NaN,Source: The Nigeria Bureau of Statistics
Jan-17,512.99,47.42,353.6,305.53,1001.24,1249.48,302.87,270.25,377.41,899.58,...,402.01,129.43,792.18,884.82,247.55,495.29,626.53,210.58,NaN,NaN
Feb-17,520.16,42.9,337.11,309.85,995.65,1270.67,299.75,264.86,392.04,885.13,...,410.58,127.23,795.27,942.23,236.62,507.36,621.39,215.55,NaN,NaN
Mar-17,507.69,43.93,353.28,318.45,1010.29,1281.71,297.51,262.33,421.54,884.15,...,418.71,132.94,798.07,964.63,268.64,513.42,623.1,255.86,NaN,NaN
Apr-17,518.66,46.22,357.19,324.04,1035.45,1323.1,296.63,277.69,425.53,886.65,...,388.46,132.43,800.77,935.0,285.72,525.72,627.33,250.3,NaN,NaN

In [ ]:
#food.to_csv("clean_food_prices.csv")