In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("food-prices-for-nigeria.csv")
df.head()

,Item Labels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21,Lowest,Highest,Month-on-Month,Year-on-Year
0,Agric eggs medium size,512.99,520.16,507.69,518.66,522.71,514.66,498.50,485.19,487.51,...,556.47,577.55,585.64,604.99,614.89,629.82,Borno (411.67),Bayelsa (800),2.43,27.31
1,Agric eggs(medium size price of one),47.42,42.90,43.93,46.22,45.73,45.28,44.32,42.92,45.72,...,51.22,52.73,53.20,54.62,55.49,57.35,Taraba (41.51),Ogun (70.06),3.35,28.15
2,"Beans brown,sold loose",353.60,337.11,353.28,357.19,365.86,374.26,382.35,370.25,404.84,...,471.24,485.44,496.03,492.13,478.76,490.19,Bauchi (234.29),Anambra (899.4),2.39,46.47
3,Beans:white black eye. sold loose,305.53,309.85,318.45,324.04,332.28,339.64,343.96,335.71,358.13,...,431.79,444.21,457.98,461.59,464.74,476.76,Bauchi (235.22),Ebonyi (887.77),2.59,54.61
4,Beef Bone in,1001.24,995.65,1010.29,1035.45,1123.65,1129.02,1128.94,1151.38,1078.49,...,1220.33,1262.10,1274.20,1320.73,1339.77,1366.24,Taraba (975.2),Abuja (1885.99),1.98,26.37

In [3]:
df_extra = df[["Lowest", "Highest", "Month-on-Month", "Year-on-Year"]]
df_extra.head()
df_extra.to_csv("extra_data_food_prices.csv")

In [4]:
df.drop(columns=["Lowest", "Highest", "Month-on-Month", "Year-on-Year"], inplace=True)

In [5]:
df.head()

,Item Labels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21
0,Agric eggs medium size,512.99,520.16,507.69,518.66,522.71,514.66,498.50,485.19,487.51,...,518.30,524.47,530.40,541.53,556.47,577.55,585.64,604.99,614.89,629.82
1,Agric eggs(medium size price of one),47.42,42.90,43.93,46.22,45.73,45.28,44.32,42.92,45.72,...,47.35,48.43,49.14,49.99,51.22,52.73,53.20,54.62,55.49,57.35
2,"Beans brown,sold loose",353.60,337.11,353.28,357.19,365.86,374.26,382.35,370.25,404.84,...,351.68,368.98,378.82,439.22,471.24,485.44,496.03,492.13,478.76,490.19
3,Beans:white black eye. sold loose,305.53,309.85,318.45,324.04,332.28,339.64,343.96,335.71,358.13,...,331.48,346.38,359.64,407.23,431.79,444.21,457.98,461.59,464.74,476.76
4,Beef Bone in,1001.24,995.65,1010.29,1035.45,1123.65,1129.02,1128.94,1151.38,1078.49,...,1113.39,1130.80,1145.32,1173.05,1220.33,1262.10,1274.20,1320.73,1339.77,1366.24

In [6]:
df.to_csv("clean_food_prices.csv")

In [10]:
data = pd.read_csv("clean_food_prices.csv")
data.drop(columns=['Unnamed: 0'], inplace=True)
data.head()

,Item Labels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21
0,Agric eggs medium size,512.99,520.16,507.69,518.66,522.71,514.66,498.50,485.19,487.51,...,518.30,524.47,530.40,541.53,556.47,577.55,585.64,604.99,614.89,629.82
1,Agric eggs(medium size price of one),47.42,42.90,43.93,46.22,45.73,45.28,44.32,42.92,45.72,...,47.35,48.43,49.14,49.99,51.22,52.73,53.20,54.62,55.49,57.35
2,"Beans brown,sold loose",353.60,337.11,353.28,357.19,365.86,374.26,382.35,370.25,404.84,...,351.68,368.98,378.82,439.22,471.24,485.44,496.03,492.13,478.76,490.19
3,Beans:white black eye. sold loose,305.53,309.85,318.45,324.04,332.28,339.64,343.96,335.71,358.13,...,331.48,346.38,359.64,407.23,431.79,444.21,457.98,461.59,464.74,476.76
4,Beef Bone in,1001.24,995.65,1010.29,1035.45,1123.65,1129.02,1128.94,1151.38,1078.49,...,1113.39,1130.80,1145.32,1173.05,1220.33,1262.10,1274.20,1320.73,1339.77,1366.24

In [17]:
d = data.T
d.to_csv("clean_food_prices.csv")
d.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Item Labels,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),Catfish (obokun) fresh,...,"Rice,imported high quality sold loose",Sweet potato,Tilapia fish (epiya) fresh,Titus:frozen,Tomato,"Vegetable oil:1 bottle,specify bottle",Wheat flour: prepacked (golden penny 2kg),Yam tuber,NaN,Source: The Nigeria Bureau of Statistics
Jan-17,512.99,47.42,353.6,305.53,1001.24,1249.48,302.87,270.25,377.41,899.58,...,402.01,129.43,792.18,884.82,247.55,495.29,626.53,210.58,NaN,NaN
Feb-17,520.16,42.9,337.11,309.85,995.65,1270.67,299.75,264.86,392.04,885.13,...,410.58,127.23,795.27,942.23,236.62,507.36,621.39,215.55,NaN,NaN
Mar-17,507.69,43.93,353.28,318.45,1010.29,1281.71,297.51,262.33,421.54,884.15,...,418.71,132.94,798.07,964.63,268.64,513.42,623.1,255.86,NaN,NaN
Apr-17,518.66,46.22,357.19,324.04,1035.45,1323.1,296.63,277.69,425.53,886.65,...,388.46,132.43,800.77,935.0,285.72,525.72,627.33,250.3,NaN,NaN

In [22]:
#pd.to_datetime(d[0])
d[0].head()

Item Labels    Agric eggs medium size
Jan-17                         512.99
Feb-17                         520.16
Mar-17                         507.69
Apr-17                         518.66
Name: 0, dtype: object

In [14]:
food = data.T
#food.reset_index()
food.rename(columns={"Food Item": "Date"}, inplace=True)
food.reset_index()
#food.reset_index()
food.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Item Labels,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),Catfish (obokun) fresh,...,"Rice,imported high quality sold loose",Sweet potato,Tilapia fish (epiya) fresh,Titus:frozen,Tomato,"Vegetable oil:1 bottle,specify bottle",Wheat flour: prepacked (golden penny 2kg),Yam tuber,NaN,Source: The Nigeria Bureau of Statistics
Jan-17,512.99,47.42,353.6,305.53,1001.24,1249.48,302.87,270.25,377.41,899.58,...,402.01,129.43,792.18,884.82,247.55,495.29,626.53,210.58,NaN,NaN
Feb-17,520.16,42.9,337.11,309.85,995.65,1270.67,299.75,264.86,392.04,885.13,...,410.58,127.23,795.27,942.23,236.62,507.36,621.39,215.55,NaN,NaN
Mar-17,507.69,43.93,353.28,318.45,1010.29,1281.71,297.51,262.33,421.54,884.15,...,418.71,132.94,798.07,964.63,268.64,513.42,623.1,255.86,NaN,NaN
Apr-17,518.66,46.22,357.19,324.04,1035.45,1323.1,296.63,277.69,425.53,886.65,...,388.46,132.43,800.77,935.0,285.72,525.72,627.33,250.3,NaN,NaN

In [ ]:
#food.to_csv("clean_food_prices.csv")