In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("food-prices-for-nigeria.csv")
df.head()

,Item Labels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21,Lowest,Highest,Month-on-Month,Year-on-Year
0,Agric eggs medium size,512.99,520.16,507.69,518.66,522.71,514.66,498.50,485.19,487.51,...,556.47,577.55,585.64,604.99,614.89,629.82,Borno (411.67),Bayelsa (800),2.43,27.31
1,Agric eggs(medium size price of one),47.42,42.90,43.93,46.22,45.73,45.28,44.32,42.92,45.72,...,51.22,52.73,53.20,54.62,55.49,57.35,Taraba (41.51),Ogun (70.06),3.35,28.15
2,"Beans brown,sold loose",353.60,337.11,353.28,357.19,365.86,374.26,382.35,370.25,404.84,...,471.24,485.44,496.03,492.13,478.76,490.19,Bauchi (234.29),Anambra (899.4),2.39,46.47
3,Beans:white black eye. sold loose,305.53,309.85,318.45,324.04,332.28,339.64,343.96,335.71,358.13,...,431.79,444.21,457.98,461.59,464.74,476.76,Bauchi (235.22),Ebonyi (887.77),2.59,54.61
4,Beef Bone in,1001.24,995.65,1010.29,1035.45,1123.65,1129.02,1128.94,1151.38,1078.49,...,1220.33,1262.10,1274.20,1320.73,1339.77,1366.24,Taraba (975.2),Abuja (1885.99),1.98,26.37

In [3]:
df_extra = df[["Lowest", "Highest", "Month-on-Month", "Year-on-Year"]]
df_extra.head()
df_extra.to_csv("extra_data_food_prices.csv")

In [4]:
df.drop(columns=["Lowest", "Highest", "Month-on-Month", "Year-on-Year"], inplace=True)

In [5]:
df.head()

,Item Labels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21
0,Agric eggs medium size,512.99,520.16,507.69,518.66,522.71,514.66,498.50,485.19,487.51,...,518.30,524.47,530.40,541.53,556.47,577.55,585.64,604.99,614.89,629.82
1,Agric eggs(medium size price of one),47.42,42.90,43.93,46.22,45.73,45.28,44.32,42.92,45.72,...,47.35,48.43,49.14,49.99,51.22,52.73,53.20,54.62,55.49,57.35
2,"Beans brown,sold loose",353.60,337.11,353.28,357.19,365.86,374.26,382.35,370.25,404.84,...,351.68,368.98,378.82,439.22,471.24,485.44,496.03,492.13,478.76,490.19
3,Beans:white black eye. sold loose,305.53,309.85,318.45,324.04,332.28,339.64,343.96,335.71,358.13,...,331.48,346.38,359.64,407.23,431.79,444.21,457.98,461.59,464.74,476.76
4,Beef Bone in,1001.24,995.65,1010.29,1035.45,1123.65,1129.02,1128.94,1151.38,1078.49,...,1113.39,1130.80,1145.32,1173.05,1220.33,1262.10,1274.20,1320.73,1339.77,1366.24

In [6]:
df.to_csv("clean_food_prices.csv")

In [7]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Item Labels,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),Catfish (obokun) fresh,...,"Rice,imported high quality sold loose",Sweet potato,Tilapia fish (epiya) fresh,Titus:frozen,Tomato,"Vegetable oil:1 bottle,specify bottle",Wheat flour: prepacked (golden penny 2kg),Yam tuber,NaN,Source: The Nigeria Bureau of Statistics
Jan-17,512.99,47.42,353.6,305.53,1001.24,1249.48,302.87,270.25,377.41,899.58,...,402.01,129.43,792.18,884.82,247.55,495.29,626.53,210.58,NaN,NaN
Feb-17,520.16,42.9,337.11,309.85,995.65,1270.67,299.75,264.86,392.04,885.13,...,410.58,127.23,795.27,942.23,236.62,507.36,621.39,215.55,NaN,NaN
Mar-17,507.69,43.93,353.28,318.45,1010.29,1281.71,297.51,262.33,421.54,884.15,...,418.71,132.94,798.07,964.63,268.64,513.42,623.1,255.86,NaN,NaN
Apr-17,518.66,46.22,357.19,324.04,1035.45,1323.1,296.63,277.69,425.53,886.65,...,388.46,132.43,800.77,935.0,285.72,525.72,627.33,250.3,NaN,NaN
May-17,522.71,45.73,365.86,332.28,1123.65,1378.91,307.7,282.26,460.1,900.73,...,410.55,130.28,805.21,969.64,339.72,524.77,646.18,279.15,NaN,NaN
Jun-17,514.66,45.28,374.26,339.64,1129.02,1393.42,320.58,286.78,472.29,916.55,...,415.84,135.77,817.62,1012.18,375.0,546.29,632.09,292.06,NaN,NaN
Jul-17,498.5,44.32,382.35,343.96,1128.94,1376.91,314.47,285.55,473.4,910.57,...,409.2,137.96,823.34,1014.54,394.13,552.91,630.47,294.12,NaN,NaN
Aug-17,485.19,42.92,370.25,335.71,1151.38,1276.85,304.2,258.7,415.34,921.17,...,384.35,138.56,820.29,998.01,431.3,559.01,647.29,343.39,NaN,NaN
Sep-17,487.51,45.72,404.84,358.13,1078.49,1324.93,310.62,286.33,431.59,894.52,...,398.01,139.0,795.64,973.99,322.39,505.51,627.0,259.51,NaN,NaN
Oct-17,472.85,42.06,382.58,342.05,1081.3,1312.73,305.88,280.34,416.18,906.94,...,368.9,115.73,822.39,1050.38,291.53,547.11,641.41,223.63,NaN,NaN
Nov-17,463.11,40.82,369.78,337.09,1065.59,1286.86,298.96,274.32,417.24,902.02,...,360.83,111.36,813.77,1125.88,286.39,540.2,649.19,212.27,NaN,NaN
Dec-17,494.43,41.32,361.97,314.93,1067.73,1236.44,290.05,268.23,319.86,919.82,...,371.21,120.19,1158.84,1109.21,276.18,565.04,639.24,211.61,NaN,NaN
Jan-18,437.13,38.85,385.53,344.52,1045.55,1298.7,313.43,282.12,413.19,1014.62,...,360.76,113.36,864.05,894.7,271.99,540.25,655.15,226.51,NaN,NaN
Feb-18,519.07,41.27,387.48,348.55,1017.28,1274.71,314.17,284.36,405.69,1037.33,...,365.21,126.44,885.65,901.49,267.1,549.02,646.0,230.85,NaN,NaN
Mar-18,527.32,41.21,395.34,357.04,1024.64,1262.51,305.88,278.61,399.47,1008.28,...,363.33,130.3,890.1,905.76,267.09,533.45,657.64,254.51,NaN,NaN
Apr-18,552.09,42.25,395.19,355.32,980.26,1257.73,306.54,278.61,400.94,993.54,...,369.35,137.4,889.52,898.62,289.49,548.01,649.92,279.61,NaN,NaN
May-18,548.66,41.77,407.73,367.23,1011.11,1275.77,305.98,278.11,405.03,1013.11,...,374.63,150.55,924.12,921.04,307.14,553.23,659.51,291.33,NaN,NaN
Jun-18,539.75,41.38,418.78,369.43,1034.57,1271.54,308.0,275.6,404.43,1062.43,...,373.47,148.68,939.36,950.28,317.67,552.08,660.13,285.84,NaN,NaN
Jul-18,471.75,41.22,411.02,361.33,1028.12,1262.73,305.25,272.71,403.56,1064.74,...,370.79,163.3,935.16,924.77,336.29,547.9,657.58,280.83,NaN,NaN
Aug-18,474.13,41.79,410.16,361.68,1061.78,1281.02,307.97,278.27,397.29,1088.95,...,375.02,167.08,947.79,946.55,336.65,540.44,661.06,292.97,NaN,NaN
Sep-18,472.73,41.17,416.07,362.71,1027.66,1281.64,303.84,278.57,384.49,1089.25,...,371.32,167.28,979.22,941.5,328.26,546.85,651.87,280.28,NaN,NaN
Oct-18,482.9,41.73,411.05,354.22,1003.35,1260.59,299.19,272.91,370.21,1080.38,...,373.04,154.73,923.12,923.92,306.59,536.08,656.8,252.21,NaN,NaN
Nov-18,477.76,42.4,396.73,346.41,998.67,1251.45,305.48,277.87,385.61,1112.09,...,376.63,147.7,934.07,1105.17,294.36,536.53,659.65,239.15,NaN,NaN
Dec-18,466.97,42.58,386.78,344.72,997.73,1270.81,296.91,271.14,381.64,1060.83,...,370.57,140.7,887.54,926.42,271.51,507.83,662.89,212.65,NaN,NaN
Jan-19,469.86,42.18,382.76,336.72,994.2,1273.99,300.61,272.97,382.15,1073.51,...,366.04,139.65,910.91,935.02,265.49,516.72,665.12,211.21,NaN,NaN
Feb-19,464.27,42.23,373.91,338.05,980.54,1254.99,299.11,271.74,385.81,1066.39,...,364.39,137.46,876.13,945.71,256.51,509.14,664.78,206.49,NaN,NaN
Mar-19,459.81,41.92,368.07,330.76,980.12,1253.48,299.98,273.14,382.45,1065.14,...,361.9,134.72,876.36,945.66,240.3,506.65,663.9,200.88,NaN,NaN
Apr-19,467.18,41.95,372.84,329.45,1025.26,1271.1,297.87,271.49,381.13,1082.01,...,357.55,141.61,894.12,974.94,257.25,501.09,668.76,222.36,NaN,NaN
May-19,464.87,42.82,365.32,329.66,1023.39,1268.95,297.28,272.09,377.77,1063.03,...,361.39,140.83,884.47,949.22,249.52,496.64,668.37,216.03,NaN,NaN
Jun-19,495.33,39.31,342.82,311.4,1003.2,1240.44,292.73,274.49,373.49,1024.68,...,352.83,135.2,845.73,940.57,226.07,495.41,674.83,182.15,NaN,NaN
Jul-19,468.31,38.38,327.18,289.78,1009.69,1246.78,293.49,271.02,367.44,994.21,...,356.1,137.48,812.22,927.61,203.55,485.05,667.97,170.85,NaN,NaN
Aug-19,461.89,40.57,307.27,273.71,1007.39,1244.23,301.36,275.4,366.22,1008.32,...,356.61,137.61,833.59,949.05,223.86,491.41,663.26,190.04,NaN,NaN
Sep-19,456.81,41.3,318.99,285.74,1021.84,1257.58,302.59,275.89,370.3,1002.53,...,371.13,142.0,813.43,952.31,227.5,486.9,664.02,190.23,NaN,NaN
Oct-19,462.46,40.51,308.93,292.0,1025.69,1281.59,296.56,278.66,371.89,1004.38,...,382.57,138.46,815.55,956.75,233.38,502.34,675.3,179.75,NaN,NaN
Nov-19,463.91,41.18,307.3,284.65,1026.24,1293.0,299.59,280.51,396.86,1027.76,...,445.45,146.58,859.55,975.39,251.21,512.53,673.48,203.2,NaN,NaN
Dec-19,457.8,40.72,299.48,281.6,1045.86,1292.52,304.06,277.79,406.94,1043.41,...,459.9,147.46,884.07,981.21,263.9,516.29,676.2,206.82,NaN,NaN
Jan-20,454.17,40.17,285.61,268.8,1031.53,1289.8,302.45,276.26,409.31,1025.13,...,453.24,141.23,870.06,962.96,237.22,515.48,672.79,193.04,NaN,NaN
Feb-20,448.26,39.29,276.3,255.25,1035.38,1279.6,303.06,275.2,404.32,1022.84,...,444.04,141.34,863.29,948.14,241.78,520.95,668.01,189.53,NaN,NaN
Mar-20,461.15,39.9,267.81,241.74,1025.48,1276.1,304.6,278.79,390.54,1027.3,...,438.66,149.46,854.86,960.47,255.33,530.85,674.14,206.12,NaN,NaN
Apr-20,476.72,41.54,277.05,250.33,1047.12,1307.68,316.55,288.45,408.05,1048.9,...,471.84,153.89,870.49,986.88,277.0,551.92,692.6,230.09,NaN,NaN
May-20,462.46,40.84,277.49,251.43,1053.47,1306.47,315.0,285.17,405.58,1044.13,...,463.21,154.62,860.95,1004.66,278.23,554.77,698.45,236.9,NaN,NaN
Jun-20,472.83,42.18,289.89,259.39,1069.85,1317.04,320.1,284.51,420.31,1058.9,...,479.74,171.94,872.94,1018.79,294.46,568.5,707.31,250.7,NaN,NaN
Jul-20,474.12,42.45,300.26,268.38,1075.68,1330.83,318.56,287.74,426.36,1061.25,...,490.44,177.17,872.74,1021.08,304.01,576.89,712.95,256.44,NaN,NaN
Aug-20,478.97,42.78,305.43,274.8,1064.27,1339.74,312.74,283.97,429.81,1056.58,...,501.71,173.11,855.5,1022.7,289.86,583.76,718.39,256.06,NaN,NaN
Sep-20,480.76,42.9,312.66,284.87,1070.44,1351.66,318.11,291.04,442.77,1053.62,...,516.13,165.3,858.54,1032.75,286.92,589.28,730.23,245.62,NaN,NaN
Oct-20,487.81,43.72,326.88,300.37,1083.35,1380.14,322.61,298.73,452.21,1063.5,...,530.32,163.51,869.77,1051.36,307.63,602.96,740.89,242.87,NaN,NaN
Nov-20,494.72,44.75,334.66,308.36,1081.17,1393.77,328.52,307.01,462.55,1066.15,...,549.98,160.89,869.15,1052.31,316.16,630.86,749.99,236.25,NaN,NaN
Dec-20,499.55,45.4,336.24,309.07,1083.14,1405.72,327.17,304.51,467.64,1068.19,...,550.94,154.98,868.87,1057.97,310.1,639.88,749.8,233.48,NaN,NaN
Jan-21,510.84,46.21,337.09,316.92,1091.82,1421.14,327.96,306.74,465.64,1069.52,...,551.57,148.32,868.65,1066.88,289.66,654.79,757.97,234.67,NaN,NaN
Feb-21,518.3,47.35,351.68,331.48,1113.39,1435.87,326.61,308.07,462.42,1073.34,...,537.37,145.86,891.21,1062.07,269.18,667.43,758.55,242.82,NaN,NaN
Mar-21,524.47,48.43,368.98,346.38,1130.8,1456.03,332.3,310.19,466.3,1084.84,...,544.21,152.53,911.83,1069.28,267.45,668.33,766.11,244.82,NaN,NaN
Apr-21,530.4,49.14,378.82,359.64,1145.32,1481.24,332.95,306.16,472.19,1097.61,...,540.58,157.76,910.3,1091.2,277.26,672.7,770.58,252.8,NaN,NaN
May-21,541.53,49.99,439.22,407.23,1173.05,1513.43,337.83,310.81,470.16,1116.02,...,544.09,172.63,927.54,1115.8,303.51,686.67,785.87,269.98,NaN,NaN
Jun-21,556.47,51.22,471.24,431.79,1220.33,1567.26,355.78,324.03,472.07,1140.68,...,557.98,191.27,949.72,1151.08,335.46,712.95,803.9,287.54,NaN,NaN
Jul-21,577.55,52.73,485.44,444.21,1262.1,1660.76,361.11,335.67,477.08,1174.02,...,552.8,199.86,1017.38,1327.44,414.83,739.32,830.6,308.72,NaN,NaN
Aug-21,585.64,53.2,496.03,457.98,1274.2,1698.18,366.69,342.78,477.39,1204.6,...,546.71,195.87,1051.63,1375.61,396.38,769.45,869.64,305.48,NaN,NaN
Sep-21,604.99,54.62,492.13,461.59,1320.73,1768.14,384.73,351.95,473.75,1232.25,...,546.77,192.07,1067.47,1426.42,342.25,812.94,911.88,306.87,NaN,NaN
Oct-21,614.89,55.49,478.76,464.74,1339.77,1768.78,382.77,359.6,475.54,1242.54,...,553.23,192.14,1074.97,1424.58,347.47,825.46,912.72,313.05,NaN,NaN
Nov-21,629.82,57.35,490.19,476.76,1366.24,1812.03,404.2,366.46,480.65,1276.58,...,568.75,202.25,1101.38,1451.35,349.6,876.47,950.6,327.53,NaN,NaN

In [8]:
df.columns = ["Agric eggs medium size", "Agric eggs(medium size price of one)"]

ValueError: Length mismatch: Expected axis has 60 elements, new values have 2 elements

In [ ]:
data = pd.read_csv("clean_food_prices.csv")
data.head()

In [ ]:
data.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
data.head()

In [ ]:
food = data.T
#food.reset_index()
#food.rename(columns={"Food Item": "Date"}, inplace=True)
#food.reset_index()
#food.reset_index()
food.head()

In [ ]:
#food.to_csv("clean_food_prices.csv")